.content-block {
  max-width: 90rem;
  padding: 0 2.4rem;
  margin: 3.2rem auto;
}

.cabecalho-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cabecalho-link img {
  align-self: center;
  margin-bottom: 56px;
}

.cabecalho-link dx-button {
  border: none;
  margin: 0 8px;
  cursor: pointer;
  background: none;
  text-decoration: none;
}

.cabecalho-contato {
  display: flex;
  margin-top: 32px;
  align-items: center;
  flex-direction: column;
}

.cabecalho-contato img {
  margin-bottom: -30px;
}

.cabecalho-contato h1 {
  margin: 12px 0;
  font-size: 26px;
  color: #0d6efd;
  font-weight: 700;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0px;
  font-family: "Montserrat";
}

.perfil {
  width: 416px;
  height: 548px;
  margin: 0 auto;
  padding: 24px, 10px;
  border-radius: 16px;
  background: #e7f1ff;
}

.perfil ul {
  padding: 24px;
  list-style: none;
}

.perfil li {
  gap: 8px;
  display: flex;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  line-height: 27px;
  letter-spacing: 0px;
  align-items: center;
  padding-bottom: 16px;
  font-family: Montserrat;
}

.perfil strong {
  font-weight: 700;
}

.botoes {
  gap: 16px;
  display: flex;
  margin: 0 16px;
  text-align: center;
  justify-content: space-between;
}

.botao-excluir {
  width: 196px;
  height: 41px;
  cursor: pointer;
  border-radius: 4px;
  border: 1px;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 700;
}

.botao-excluir {
  cursor: pointer;
  color: #0d6efd;
  border: 1px solid #0d6efd;
  background-color: #ffffff;
  margin: 0 auto;
}

.imagem-perfil {
    display: flex;
    gap: 12px;
    align-items: center;
    padding-top: 12px;
    padding-left: 24px;
    margin-top: 36px;
  }

  .imagem-perfil img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  h2 {
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
    color: #0D6EFD;
    padding-left: 12px;
  }
